numpy<2  # Fuerza la versión 1.x de NumPy
torch==2.1.0 --extra-index-url https://download.pytorch.org/whl/cpu
torchaudio==2.1.0 --extra-index-url https://download.pytorch.org/whl/cpu
python-multipart
fastapi
ffmpeg-python
uvicorn
openai-whisper